@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

// Colors
$Very_Dark_Blue: #070439;
$Desaturated_Blue: #585989;
$Bright_Blue: #3065f8;
$Moderate_Cyan: #3c9f8f;
$Light_Grayish_Blue: #f6f6fe;
$Light_Gray: #bfbfbf;


// Typography
$body_font: 'Open Sans', sans-serif;
$headin_font: 'Raleway', sans-serif;