@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

// Colors
$Very_Dark_Blue: #070439;
$Desaturated_Blue: #585989;
$Bright_Blue: #3065f8;
$Moderate_Cyan: #3c9f8f;
$Light_Grayish_Blue: #f6f6fe;
$Light_Gray: #bfbfbf;

// Typography
$body_font: "Open Sans", sans-serif;
$headin_font: "Raleway", sans-serif;

// Mixins
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin input {
  width: 95%;
  padding: 0.7rem;
  border-radius: 0.2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  font-family: $body_font;
  font-size: 1rem;
}

// FIIIIRST
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

main {
  @include flex();
  flex-direction: column;
  //   gap: 7rem;
}

nav {
  @include flex();
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;

  img {
    width: 25%;
  }
  ul {
    list-style: none;
    @include flex();
    gap: 1em;
    font-size: small;
    font-weight: 600;
    color: $Desaturated_Blue;
  }
}

article {
  text-align: center;
  img {
    width: 100%;
    margin-bottom: 2rem;
  }
  h2 {
    font-family: $headin_font;
  }
  p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
}

.email-input {
  margin-bottom: 10rem;
  @include flex();
  flex-direction: column;
  gap: 1rem;

  .container {
    @include flex();
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 0.4rem;
  }
  input {
    @include input();
    border: 1px $Desaturated_Blue solid;
    color: $Very_Dark_Blue;
    &::placeholder {
      color: $Light_Gray;
    }
  }
  button {
    @include input();
    border: none;
    background-color: $Bright_Blue;
    color: $Light_Grayish_Blue;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

// SECONDDD
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

.svg {
  position: relative;
  top: -0rem;
  width: 100%;
  height: 100px;
  background: url("../images/bg-curve-mobile.svg") no-repeat scroll top;
  background-size: cover;
}

.section {
  background-color: $Light_Grayish_Blue;
}
.section,
aside {
  padding-bottom: 4rem;
  @include flex();
  flex-direction: column;
  gap: 3rem;

  .illustration2 {
    width: 90%;
  }
}

.info {
  text-align: center;
  font-family: $headin_font;
  padding: 3rem 2rem;

  h2 {
    font-family: $headin_font;
    padding-bottom: 1rem;

  }
  p {
      text-align: left;
    @include flex();
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
    // margin-bottom: 2rem;
  }

  // h2 {
  //   font-size: 1.1rem;
  // }

}

.callToAction {
  @include flex();
  gap: 0.5rem;
  padding: 0 2rem;

  a {
    color: $Moderate_Cyan;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.7;
  }
}

.comment {
  @include flex();
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  background-color: white;
  padding: 1.5rem 2rem;
  margin: 0 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  img {
    width: 6%;
  }
  p {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .profile {
    @include flex();
    justify-content: flex-start;
    gap: 0.5rem;
    img {
      width: 10%;
      border-radius: 10rem;
    }
    small {
      @include flex();
      flex-direction: column;
      align-items: flex-start;
      font-size: 0.8rem;
      font-weight: 600;
    }
    span {
      color: $Desaturated_Blue;
      font-size: 0.5rem;
      font-weight: 100;
    }
  }
}

.signUp {
  text-align: center;
  background-color: $Desaturated_Blue;
  color: $Light_Grayish_Blue;
  padding: 3rem 2rem;
  @include flex();
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    font-family: $headin_font;
  }
  p {
    color: #cecece;
    line-height: 1.3rem;
  }
  .email-input {
    min-width: 90%;
    gap: 0.5rem;
    margin-bottom: 0;
  }
}

// Three
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

footer {
  background-color: $Very_Dark_Blue;
  color: white;
  padding: 3rem 2rem;
}

.contact {
  @include flex();
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  .footer-logo {
    margin-bottom: 2rem;
  }
}

.tell,
.mail {
  @include flex();
  gap: 1rem;
}

.menu {
  margin: 3rem 0;
  list-style: none;
  @include flex();
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  line-height: 2.5rem;

  ul{
    list-style: none;
  }

  li:hover {
    color: #3065f8;
    cursor: pointer;
  }
}

.icons {
  @include flex();
  gap: 1rem;

  i {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1rem;
    @include flex();

    &:hover {
      color: $Bright_Blue;
      border-color: $Bright_Blue;
      cursor: pointer;
    }
  }
}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

@media (min-width: 700px) {
  main {
    margin-bottom: 8rem;
  }
  nav {
    width: 95%;
    align-items: center;
    img {
      width: 12%;
    }
    ul {
      gap: 3rem;
    }
  }
  article {
    @include flex();
    flex-direction: row-reverse;
    align-items: center;
    img {
      width: 50%;
    }
    .info {
      width: 45%;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: medium;
    }

    .email-input {
      gap: 0;
      width: 90%;
      flex-direction: row;
      margin-bottom: 0;

      .container{
        align-items: flex-start;
      }

      button {
        align-self: flex-start;
        width: 50%;
        padding: 0.9rem;
      }
    }
  }
  .svg {
    background: url("../images/bg-curve-desktop.svg") no-repeat scroll top;
    background-size: cover;
  }

  .section {
    @include flex();
    flex-direction: row-reverse;
    padding: 4rem 2rem;

    .illustration2 {
      width: 40%;
    }
  }

  aside {
    width: 90%;
  }
  .info {
    text-align: left;
    align-self: flex-start;
    h2 {
      font-size: 2.5rem;
    }
    p {
      width: 70%;
    }
  }
  .callToAction {
    align-self: flex-start;
  }
  .comment {
    align-self: flex-start;
    width: 45%;
  }

  .signUp {
    @include flex();
    flex-direction: row;
    justify-content: space-between;
    // width:100%;
   
    h2 {
      font-size: 1.5rem;
    }

    .email-input {
      min-width: 35%;

      input {
        align-self: flex-start;
      }
      button {
        align-self: flex-start;
        width: 40%;
      }
    }
  }

  footer {
    @include flex();
    justify-content: space-between;
    padding: 5rem 15rem 0 5rem;
    height: 50vh;
  }
  .contact {
    position: relative;
    bottom: 5rem;
  }
  .about {
    @include flex();
    justify-content: space-between;
    width: 60%;
  }
  .menu {
    @include flex();
    flex-direction: row;
    align-items: flex-start;
    gap: 10rem;
    margin: 0;
  }
  .socials {
    align-self: flex-start;
  }
}
